.booking-list{
  display: grid;
  border-style: solid;
  border-width: 3px;
  grid-template-areas:
  'bookings heading booking-number'
}

.heading{
  border-style: solid;
  border-width: 2px;
  border-bottom: none;
  text-align: center;
  background-color: #93B7BE;
}

.book-heading{
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-right: none
}

.book{
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-top: none;
  border-right: none
}

.total-spent{
  display: grid;
  border-style: solid;
  border-width: 2px;
  border-top: none;
}
