.component-list{
color: #7F2331;
}

.name{
  color: #312F2F;
}

.name:hover{

}

.component-list{
  background-color: #F1FFFA;
  border-style: solid;
  border-width: 3px;
  color: #312F2F;
  display: grid;
  grid-template-areas:
   'customer booking-number'
}


.customer-container{
  background-color: #F1FFFA;
  border-style: solid;
  border-width: 3px;
  color: #312F2F;
  display: grid;
  grid-template-areas:
   'name table-number'


}
