.booking-list{
  display: grid;border-style: solid;
  border-width: 3px;
  grid-template-areas:
  'bookings heading booking-number';
}

.heading{
  border-style: solid;
  border-width: 3px;
  text-align: center;
  background-color: #93B7BE;

}

.total{
  display: flex;
  flex-direction: row-reverse;
}
