.editbooking {
  margin-left: 5%;
  width: 40%;
  border: 1px solid black;
  grid-template-columns: 1fr 1fr;
}


.editbooking select {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px

}

.blue, .editbooking select{
  background-color: #93B7BE;
  border: 1px dotted #999;
  border-radius: 15px;
  width: 80px;
  text-align: center;
  -webkit-appearance: none;
  color: #312F2F;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Muli', sans-serif;
  transition-duration: 0.2s;
  cursor: pointer;
}

.blue {
  width: 120px;
}

.blue:hover, .editbooking select:hover {
  color: #F1FFFA;
}

.editbooking input[type="submit"] {
  background-color: #8FDC97;
  color: #312F2F;
  font-size: 20px;
  border: 1px dotted #999;
  border-radius: 15px;
  margin-left: 20%;
  font-weight: bold;
  width: 70px;
  height: 30px;
  font-family: 'Muli', sans-serif;
  transition-duration: 0.2s;
  cursor: pointer;

}

.editbooking input[type="submit"]:hover {
  color: #F1FFFA;
}

.label {
  font-family: 'Muli', sans-serif;
  color: #312F2F;
  margin-left: 10px;
  margin-right: 15px;
  font-weight: bold;
}
