.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
  background: #8FDC97;
}


.link {
  padding: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition-duration: 0.2s
}

.link:hover {
  background-color: #93B7BE;
}
