.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
  background-color: #DCE8E4;
}


.link {
  padding: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  color: #312F2F;
  font-weight: bold;
  font-size: 20px;
  transition-duration: 0.2s;
  font-family: 'Muli', sans-serif;
  font-size: 30px;
  border-bottom: 1px solid black;
}

.link:nth-of-type(2) {
  border-left: 1px solid black;
}


.link:hover {
  background-color: #93B7BE;
}
