.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
	width: 100%;
	float: left;
	margin: 0 0 0 0;
	padding: 0;
	list-style: none;
  background: #93B7BE;
}


.link {
  padding: 20px 20px 20px 20px;
  text-align: center;
  text-decoration: none;
  color: #312F2F;
  font-weight: bold;
  font-size: 20px;
  transition-duration: 0.2s;
  border-right: solid 3px;
  font-family: 'Muli', sans-serif;
    font-size: 30px;
}

.link:hover {
  background-color: #8FDC97;
}
